<div class="table-header">
    <i class="icon-graduation-cap"></i>
    <h2>{{ course.name }}</h2>
</div>
<div class="table">
    <div class="table-row">
        <span class="value">{{ course.teacher }}</span>
        <span class="label">教师</span>
    </div>
    <div class="table-row">
        <span class="value">{{ course.get_category_name() }}</span>
        <span class="label">类别</span>
    </div>
    <div class="table-row">
        <div class="value">{% module Rating(course, clickable) %}</div>
        <span class="label">评分</span>
    </div>

    <div class="cross-row">
        {% for i in course.get_comments() %}
            {% module Quote(i) %}
        {% end %}
    </div>
</div>