<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>LoveSYSU</title>
    <link rel="stylesheet" href="{{ static_url("dist/css/fontello.css")}}">
    <link rel="stylesheet" href="{{ static_url("dist/css/app.css")}}">
</head>
<body>
    {% module Header("LOVESYSU", "Course", "搜索老师、课程名字") %}
    <div class="limited">
        {% block body %}{% end %}
    </div>
    <div class="background-mask">
        <div class="modal-area">
            <div class="modal">
                <div class="modal-header">
                    <div class="title">提示</div>
                    <div class="close-btn">×</div>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <div class="btn-group">
                        <button id="cancel">取消</button>
                        <button id="confirm">确定</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ static_url("dist/js/app.js")}}"></script>
</body>
</html>