@charset "utf-8";
@import "reset";
$headerHeight: 60px;
$themeColor: #424242;
$goodWidth: 700px;

@mixin center-block {
    margin: 0 auto;
}
@mixin border-box {
    box-sizing: border-box;
}

@mixin transition($trvar) {
    -webkit-transition: $trvar;
    -o-transition: $trvar;
    transition: $trvar;
}
.limited {
    margin: 0 auto;
    width: 700px;
    padding-top: 90px;
}
$headerPadding: 14px;
header {
    height: $headerHeight;
    background-color: $themeColor;
    z-index: 100;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    color: #efefef;
    @include border-box;
    padding: $headerPadding 0;
}

.wrapper {
    width: $goodWidth;
    @include center-block;
}

header {
    .logo {
        height: $headerHeight - 2 * $headerPadding;
        line-height: $headerHeight - 2 * $headerPadding;
        float: left;
    }
    h1, h2 {
        display: inline-block;
    }
    h1 {
        font-size: 24px;
    }
    h2 {
        opacity: .4;
        font-weight: 200;
        font-size: 20px;
    }
    .controller {
        height: $headerHeight - 2 * $headerPadding;
        @include border-box;
        float: right;
        a {
            color: #fff;
        }
        i {
            cursor: pointer;
            opacity: .5;
            margin-left: 20px;
            height: $headerHeight - 2 * $headerPadding;
            line-height: $headerHeight - 2 * $headerPadding;
        }
    }
    form {
        position: relative;
        width: 35px;
        display: inline-block;
        vertical-align: top;
        border-radius: 2px;
        height: 100%;
        padding-left: 0;
        @include border-box;
        @include transition(all .3s);
        input {
            position: absolute;
            width: 100%;
            @include border-box;
            left: 0;
            height: 100%;
            padding: 0;
            opacity: 0;
        }
        .fake-form {
            cursor: pointer;
            position: absolute;
            z-index: 10;
            left: 0;
            top: 0;
            height: 100%;
            width: 100%;
            display: block;   
        }
    }
    form.active {
        opacity: 1;
        width: 240px;
        padding-left: 30px;
        background-color: rgba(255,255,255,.9);
        input {
            opacity: 1;
            padding-left: 30px;
        }
        .fake-form {
            display: none;   
        }
        .search-btn {
            color: rgba(0,0,0,.7);
        }
    }
    .search-btn {
        position: absolute;
        left: 10px;
        top: 0;
        color: #efefef;
        .icon-search {
            margin-left: 0;
        }
    }
}

#container {
    margin-top: 80px;
    width: 500px;
}

.rating {
    display: inline-block;
    i {
        font-size: 20px;
        color: #a6a8ad;
        margin-left: -5px;
    }
    i:first-child {
        margin-left: 0;
    }
}

.sticky {
    width: 100%;
    ul {
        li {
            cursor: pointer;
            color: #626262;
            opacity: 1;
            list-style: none;
            overflow: hidden;
            margin-bottom: 15px;
            @include transition(all .3s);
        }
        li.fade {
            opacity: .5;
        }
        li span {
            float: left;
            display: inline-block;
        }
        li span.tag {
            float: right;
            display: inline-block;
            border-radius: 20px;
            padding: 1px 10px;
            background-color: #e0e0e0;
            color: #949494;
            font-size: 13px;
            font-weight: bold;
        }
    }
}

@mixin radius-box {
    border-radius: 6px;
    border: 1px solid #efefef;
    @include border-box;
    background: #fff;
}

.card {
    @include radius-box;
    margin-bottom: 15px;

    padding: 10px 20px;
    .row {
        overflow: hidden;
        width: 100%;
    }
    .row>*:first-child {
        float: left;
    }
    .row>*:last-child {
        float: right;
    }
    .row h2 {
        font-size: 20px;
        color: #454b54;
    }
    .row span {
        color: #bebebe;
    }
    .subtitle span {
        margin-right: 20px;
    }
}
.card.hidden {
    display: none;
}

$inputHeight: 30px;
.comment-write {
    @include radius-box;
    .row {
        padding: 10px 20px;
        overflow: hidden;
        @include border-box;
        width: 100%;
    }
    .row:last-child {
        border-top: 1px dashed #efefef;
    }
    textarea {
        width: 100%;
        height: 200px;
        resize: none;
    }
    input {
        float: left;
        height: $inputHeight;
        display: inline-block;
    }
    .rating {
        float: right;
    }
}

.btn-group {
    width: 100%;
    text-align: right;
    margin-top: 20px;
    button {
        border-radius: 4px;
        padding: 10px 50px;
        background-color: #757575;
        color: #fff;
        margin-left: 20px;
    }
}


.like {
    button {
        cursor: pointer;
        padding: 0;
        border-radius: 4px;
        width: 100%;
        background-color: #f5f5f5;
        margin-bottom: 5px;
        span {
            display: block;
            color: #858585;
            text-align: center;
            width: 100%;
        }
    }
    button:hover {
        background-color: #d5d5d5;
        span {
            color: #666;
        }
    }
}
$sideWidth: 40px;
.quote-body {
    overflow: hidden;
    @include border-box;
    padding-left: $sideWidth;
    .left {
        float: left;
        width: $sideWidth;
        position: relative;
        margin-left: -100%;
        left: -$sideWidth;
    }
    .right {
        @include border-box;
        float: left;
        width: 100%;
        padding-left: 10px;
        p {
            color: #757575;
            line-height: 1.6;
        }
        .row {
            width: 100%;
            text-align: right;
            margin-top: 20px;
        }
        span {
            color: #bdbdbd;
            display: inline-block;
        }
    }
}
.quote {
    width: 100%;
    margin-bottom: 30px;
}
.quote .divider {
    width: 80px;
    height: 2px;
    background-color: #d9d9d9;
    margin: 10px auto;
}

$labelWidth: 100px;
.form-wrapper {
    .form-header {
        h2 {
            color: #454b56;
        }
        width: 100%;
        text-align: left;
    }
    .form-body {
        @include border-box;
        @include radius-box;
        margin-top: 40px;
        padding: 16px 28px;
        padding-bottom: 30px;
        .row {
            overflow: hidden;
            @include border-box;
            padding-left: $labelWidth;
            border-bottom: 1px dashed #efefef;
            min-height: 50px;
        }
        .label {
            display: block;
            float: left;
            color: #555;
            opacity: .5;
            width: $labelWidth;
            position: relative;
            margin-left: -100%;
            left: -$labelWidth;
            height: 50px;
            line-height: 50px;
            @include transition(all .3s);
        }
        .label.active {
            opacity: 1;
        }
        input,.select,textarea {
            @include border-box;
            font-size: 16px;
            color: #444a53;
            float: left;
            width: 100%;
        }
        input {
            height: 50px;
        }
        textarea {
            height: 30px;
            margin: 10px 0;
            resize: none;
            @include transition(all .3s);
        }
        .row-select {
            .label {
                margin-left: -80px;
            }
            .select {
                cursor: pointer;
                position: relative;
                width: 80px;
            }
            .select:after {
                content: "\e803";
                font-family: fontello;
                position: absolute;
                top: 50%;
                margin-top: -11px;
                right: 0;
                color: #ddd;
            }
            select {
                position: relative;
                z-index: 10;
                width: 100%;
                height: 30px;
                margin: 10px 0;
                border: none;
                font-size: 16px;
                color: #444a53;
                background-color: transparent;
                -webkit-appearance: none;
            }
        }
    }
}
.dropdown {
    width: 100%;
    left: 0;
    top: $inputHeight + 5px;
    display: none;
    position: absolute;
    border-radius: 4px;
    background-color: rgba(255,255,255,.9);
    box-shadow: 0 1px 3px rgba(0,0,0,.2);
    overflow: hidden;
    ul li {
        @include border-box;
        padding: 6px 12px;
    }
    ul li a {
        display: block;
        width: 100%;
    }
    ul li:hover {
        h3 {
            color: #fff;
        }
        background-color: #616161;
        .row {
            color: rgba(255,255,255,.7);
        }
    }
    ul li h3 {
        font-size: 14px;
        color: #626262;
    }
    ul li .row {
        color: #757575;
        font-size: 12px;
        span {
            margin-right: 15px;
        }
    }
}

.dropdown.active {
    display: block;
}

.table-header {
    i {
        font-size: 40px;
        color: #bdbdbd;
    }
    h2 {
        display: inline-block;
        color: #454b56;
    }
}
$tableLabelWidth: 80px;
.table {
    @include radius-box;
    margin-top: 40px;
    margin-bottom: 40px;
    .table-row {
        overflow: hidden;
        @include border-box;
        padding-left: $tableLabelWidth;
        border-bottom: 1px dashed #efefef;
        min-height: 50px;
    }
    .label {
        display: block;
        @include border-box;
        float: left;
        color: #383e49;
        opacity: .5;
        width: $tableLabelWidth;
        position: relative;
        margin-left: -100%;
        padding-left: 20px;
        left: -$tableLabelWidth;
        height: 50px;
        line-height: 50px;
        @include transition(all .3s);
    }
    .value {
        @include border-box;
        color: #a6a8ad;
        display: block;
        height: 50px;
        line-height: 50px;
        font-size: 16px;
        float: left;
        width: 100%;
        padding-left: 20px;
        border-left: 1px dashed #efefef;
        .rating {
            margin-left: -4px;
        }
    }
    .cross-row {
        @include border-box;
        position: relative;
        padding: 50px 10px;
        .quote:last-child .divider {
            display: none;
        }
    }
    .cross-row:before {
        content: '\201c';
        font-size: 100px;
        position: absolute;
        font-family: "Times New Roman";
        left: 5px;
        top: -10px;
        color: #bdbdbd
    }
}


.search {
    margin-top: 20px;
    position: relative;
    .dropdown {
        @include border-box;
        top: 56px;
        box-shadow: none;
        border: 1px solid #efefef;
        ul li {
            padding: 10px 24px;
        }
        ul li h3 {
            font-size: 18px;
        }
        .row {
            font-size: 14px;
        }
    }
    form {
        @include border-box;
        @include radius-box;
        overflow: hidden;
        padding-right: 50px;
        input, button {
            height: 50px;
        }
        input {
            @include border-box;
            float: left;
            width: 100%;
            padding-left: 20px;
        }
        button {
            position: relative;
            margin-right: -100%;
            width: 50px;
        }
        button i {
            font-size: 20px;
            color: #e6e6e6;
        }
    }
}

.paginator {
    ul {
        text-align: center;
    }
    ul li {
        margin-left: 24px;
        display: inline-block;
        opacity: .3;
        font-size: 16px;
        font-weight: bold;
        span {
            color: #757575;
        }
    }
    ul li:first-child {
        margin-left: 0;
    }
    .prev, .next {
        display: inline-block;
        @include border-box;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background-color: #757575;
        text-align: center;
        padding: 10px 0;
        font-weight: normal;
        font-size: 14px;
        color: #fff;
    }
    ul li.active {
        opacity: 1;
    }
}

$resultSideWidth: 120px;
.result-body {
    overflow: hidden;
    @include border-box;
    padding-left: $resultSideWidth;
    .left {
        @include border-box;
        float: left;
        color: #383e49;
        opacity: .5;
        width: $resultSideWidth;
        position: relative;
        margin-left: -100%;
        left: -$resultSideWidth;
        padding-right: 16px;
    }
    .right {
        width: 100%;
        float: left;
        min-height: 100px;
    }
}